nav {
  display: flex;
  justify-content: space-around;
  height: 0;
  overflow: hidden;
  transition: height .3s;
  background: var(--bar);
  outline: .4em var(--bar)solid;
}

header {
  height: 3em;
  font-size: 22px;
  position: fixed;
  width: 100%;
}

header:hover nav {
  padding-top: .4em;
  height: 2.5em;
}

nav div {
  display: flex;
  align-items: center;
}

nav div>* {
  margin: 4px;
}

nav a {
  display: flex;
  align-items: center;
  cursor: pointer;
}